.contenidoprincipal {
    margin: 50px;
    padding:  100px;
    font-family: 'Times New Roman', Times, serif;
    
    
}

.titulo {
    text-align: center;
    font-size: 28px;
    line-height: 0.3em;
}

#subtitulo {
  font-size: 23px;

}

.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contenidolectura {
    font-size: 16px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}